<footer>
  <div class="mx-auto max-w-7xl px-6 py-12 flex items-center justify-between lg:px-8">
    <div class="flex justify-center space-x-6 order-1 md:order-1">
      <img class="h-11 w-auto" src="/assets/images/logo_edit.png" alt="logo pour edit agency">
    </div>
    <div class="order-2 md:order-2 md:mt-0">
      <p class="text-center text-xs leading-5 text-gray-500">Ce site internet est un site basse consommation.</p>
      <p class="text-center text-xs leading-5 text-gray-500">&copy; 2024 edit. agency. Tous droits réservés.</p>
    </div>
    <div class="flex items-center justify-center space-x-6 order-3 md:order-3">
      <a href="https://www.linkedin.com/in/taniagaycommunication/" target="_blank" class="p-2">
        <span class="sr-only">Linkedin</span>
        <img class="h-7 w-auto" src="/assets/images/logo-linkedin.png" alt="linkedin logo">
      </a>
    </div>
  </div>
</footer>
