<div>
  <div class="px-5 mx-5 md:px-30 md:mx-40 pb-40 pt-60 sm:pb-60 sm:pt-60 lg:px-30 xl:p-90">
    <div class="mx-auto max-w-1xl text-left">
      <h2 class="text-3xl font-bold sm:text-3xl">fondatrice.</h2>
      <section class="isolate overflow-hidden">
        <div class="relative">
          <figure class="grid grid-cols-1 items-center gap-x-6 gap-y-8 lg:gap-x-10 mt-6 lg:max-w-none">
            <div class="relative col-span-2 lg:col-start-1 lg:row-start-2">
              <p class="text-base">Convaincue que les questions technologiques ne peuvent être dissociées des questions sociales, sociétales et environnementales, j’ai à cœur d’accompagner mes clients à naviguer dans ce nouveau paradigme. Je suis clairement engagée à soutenir les acteurs qui contribuent à réinventer le monde de demain… ou qui s’apprêtent à le faire. C’est en tout cas le projet qui m’anime.</p>
              <p class="text-base mt-4">Pur produit agence, j’ai décidé de sauter dans l’aventure entrepreneuriale pour prendre soin de mon hyperactivité avec la création de ma propre structure : <b>edit. agency</b>. Ou comment mettre la <b>force de l’éditorial au service de la communication</b> (RP, Social Media, Brand content, accompagnement de dirigeants, etc.).</p>
              <p class="text-base mt-4">Si vous êtes prêt à écrire un nouveau chapitre ensemble - voire impulser le début de votre histoire -, vous savez ce qu'il vous reste à faire.</p>
            </div>
            <div class="col-end-1 w-16 lg:row-span-4 lg:w-80">
              <img class="rounded-xl lg:rounded-3xl" src="/assets/images/tania-edit-agency.jpg" alt="">
            </div>
            <figcaption class="text-base lg:col-start-1 lg:row-start-3">
              <div class="font-semibold text-gray-900">Tania Gay</div>
              <div class="italic text-sm">Fondatrice de edit. agency</div>
            </figcaption>
          </figure>
        </div>
        <div class="mt-10 flex items-center justify-center">
          <a href="#" class="rounded-md background-green px-10 py-3 text-sm font-semibold text-semi-white shadow-sm hover:bg-green-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Contactez-moi</a>
        </div>
      </section>
    </div>
  </div>
</div>
