<div>
  <div class="px-30 pb-40 pt-60 sm:pb-40 sm:pt-60 lg:px-30">
    <div class="mx-auto max-w-2xl text-left">
      <h2 class="text-3xl font-bold sm:text-3xl">mission.</h2>
      <p class="mt-4 text-sm">Chez <strong>edit. agency</strong> notre mission est claire : donner vie à vos idées, construire des ponts entre votre entreprise et votre public cible, tout en restant fidèle à nos valeurs fondamentales : l'environnement et la transparence.</p>
      <p class="mt-2 text-sm">Nous nous engageons à élaborer des stratégies de communication novatrices, respectueuses de la planète et intégrant les dernières avancées technologiques pour propulser votre message vers de nouveaux sommets.</p>
    </div>
  </div>
</div>
