<div id="references">
  <div class="px-5 mx-5 md:px-30 md:mx-40 pb-40 pt-40 sm:pb-40 lg:px-30 xl:p-30">
      <h2 class="text-3xl font-bold text-center">références.</h2>
    <div class="py-12 sm:py-12">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="-mx-6 grid grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 sm:rounded-2xl md:grid-cols-4">
          <div class="bg-gray-400/5 p-8 sm:p-10">
            <img class="max-h-12 w-full object-contain" src="/assets/images/logo_linkedin-nb.png" alt="Linkedin">
          </div>
          <div class="bg-gray-400/5 p-10 sm:p-10">
            <img class="max-h-12 w-full object-contain" src="/assets/images/logo_servicenow.png" alt="Service Now">
          </div>
          <div class="bg-gray-400/5 p-6 sm:p-10">
            <img class="max-h-10 w-full object-contain" src="/assets/images/logo_atos.png" alt="atos">
          </div>
          <div class="bg-gray-400/5 p-6 sm:p-10">
            <img class="max-h-10 w-full object-contain" src="/assets/images/logo_criteo.png" alt="Criteo">
          </div>
          <div class="bg-gray-400/5 p-6 sm:p-10">
            <img class="max-h-14 w-full object-contain" src="/assets/images/logo_edelman.png" alt="Edelman">
          </div>
          <div class="bg-gray-400/5 p-6 sm:p-10">
            <img class="max-h-12 w-full object-contain" src="/assets/images/logo_angie.png" alt="Angie">
          </div>
          <div class="bg-gray-400/5 p-6 sm:p-10">
            <img class="max-h-12 w-full object-contain" src="/assets/images/logo_geng.png" alt="GenG">
          </div>
          <div class="bg-gray-400/5 p-6 sm:p-10">
            <img class="max-h-12 w-full object-contain" src="/assets/images/logo_zeno.png" alt="Zeno">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
