<div class="background-green">
  <div class="px-5 mx-5 md:px-30 md:mx-40 pb-40 pt-60 sm:pb-60 sm:pt-60 lg:px-30 xl:p-90">
    <div class="mx-auto max-w-1xl text-left md:px-0">
      <h2 class="text-3xl font-bold text-semi-white sm:text-3xl">valeurs.</h2>
    </div>
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <dl class="grid mt-6 max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dt class="text-base font-bold leading-7 text-semi-white">
            Environnement
          </dt>
          <dd class="mt-2 flex flex-auto flex-col text-base leading-7 text-semi-white">
            <p class="flex-auto">edit. agency est fière d'être une agence de communication éco-responsable. De la réduction de notre empreinte carbone à la promotion de pratiques durables, nous intégrons activement des initiatives respectueuses de l'environnement dans toutes nos opérations.</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="text-base font-bold leading-7 text-semi-white">
            Collectif
          </dt>
          <dd class="mt-2 flex flex-auto flex-col text-base leading-7 text-semi-white">
            <p class="flex-auto">edit. agency est fière d'être une agence de communication éco-responsable. De la réduction de notre empreinte carbone à la promotion de pratiques durables, nous intégrons activement des initiatives respectueuses de l'environnement dans toutes nos opérations.</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="text-base font-bold leading-7 text-semi-white">
            Audace
          </dt>
          <dd class="mt-2 flex flex-auto flex-col text-base leading-7 text-semi-white">
            <p class="flex-auto">edit. agency est fière d'être une agence de communication éco-responsable. De la réduction de notre empreinte carbone à la promotion de pratiques durables, nous intégrons activement des initiatives respectueuses de l'environnement dans toutes nos opérations.</p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
