<div id="valeurs" class="background-green">
  <div class="px-5 mx-5 md:px-30 md:mx-40 pb-40 pt-40 sm:pb-60 sm:pt-60 lg:px-30 xl:p-90">
    <div class="mx-auto max-w-1xl text-left">
      <h2 class="text-3xl font-bold text-semi-white sm:text-3xl">valeurs.</h2>
    </div>
    <div class="mx-auto max-w-2xl lg:max-w-none mt-6">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dt class="text-base font-bold leading-7 text-semi-white">
            Collaboration
          </dt>
          <dd class="mt-2 flex flex-auto flex-col text-base leading-7 text-semi-white">
            <p class="flex-auto">La force et l’impact de notre métier résident dans l’échange et la collaboration. Nos clients sont comme de véritables partenaires. Cette approche est au cœur de chacun de nos projets, car nous avançons en équipe vers un seul et même objectif : s’élever ensemble.</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="text-base font-bold leading-7 text-semi-white">
            Transparence
          </dt>
          <dd class="mt-2 flex flex-auto flex-col text-base leading-7 text-semi-white">
            <p class="flex-auto">La transparence est un pilier fondamental de notre philosophie. Nous nous engageons à être clairs et honnêtes à chaque étape de notre collaboration, en partageant nos idées, nos processus et nos résultats – sans langue de bois. C’est cette relation de confiance qui nous guide quotidiennement.</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="text-base font-bold leading-7 text-semi-white">
            Excellence
          </dt>
          <dd class="mt-2 flex flex-auto flex-col text-base leading-7 text-semi-white">
            <p class="flex-auto">L’excellence est notre moteur quotidien. Chez edit. agency, nous repoussons sans cesse nos limites pour offrir des solutions de la plus haute qualité. Notre exigence pour le détail est le reflet de notre engagement à répondre et à dépasser vos attentes.</p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
